@using Front.React.Controllers
@model Front.React.Controllers.InviteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @switch (Model.Status)
    {
        case InviteLinkStatus.WrongLink:
            @:Неверная ссылка
            break;
        case InviteLinkStatus.AlreadyUsed:
            @:Ссылка уже использована
            break;
        case InviteLinkStatus.Error:
            @:Внутренняя ошибка
            break;
        case InviteLinkStatus.RestorePassword:
            <form action="/api/users/changePass" method="post">
                <label>
                    Новый пароль
                    <input type="password" placeholder="password" name="password"/>
                </label>
                <button type="submit">Сменить</button>
            </form>
            break;
        case InviteLinkStatus.Ok:
            @:Аккаунт активирован<br/>
            <a href="@Model.Url">На сайт</a>
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
</div>
</body>
</html>