@{
    ViewBag.Title = "Авторизация";
}

<script src="https://vk.com/js/api/openapi.js?146" type="text/javascript"></script>
<script type="text/javascript" src="../../Scripts/Front/login.js"></script>

<div class="jumbotron text-center">
    <h1>@ViewBag.Title</h1>
</div>

<form id="loginForm">
    <div class="form-horizontal">
        <div class="bs-callout bs-callout-danger" data-bind="visible: hasServerError">
            <h4>Ошибка авторизации</h4>
            <p data-bind="text: serverError"></p>
        </div>
    
        <div class="form-group">
            <label for="modesContainer" class="col-md-2 control-label">Способ авторизации</label>
            <div id="modesContainer">
                <div class="col-sm-10">
                    <input type="button" class="btn" onclick="setEmailMode()" value="Email"
                           data-bind="css: {'btn-danger': isEmailMode, 'btn-default' : !isEmailMode() }" />

                    <input type="button" class="btn" onclick="setVkMode()" value="Vk"
                           data-bind="css: {'btn-primary': isVkMode, 'btn-default' : !isVkMode() }" />
                </div>
            </div>
        </div>
    
        <div class="form-group has-feedback">
            <label for="userEmail" class="col-md-2 control-label">Email</label>
            <div class="col-sm-3">
                <input type="email" id="userEmail" name="userEmail" class="form-control" placeholder="Введите email"
                       data-bind="value: userEmail" />
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label for="userPassword" class="col-md-2 control-label">Пароль</label>
            <div class="col-sm-3">
                <input type="password" id="userPassword" name="userPassword" class="form-control" placeholder="Введите пароль"
                       data-bind="value: userPassword" />
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
    
        <div class="form-group has-feedback">
            <label for="sendLoginRequest" class="col-md-2 control-label"></label>
            <div class="col-sm-3">
                <input type="button" id="sendLoginRequest" class="btn btn-info" value="Войти" onclick="sendLoginRequest()"
                       data-bind="visible: !isSending()" />
                <img src="../../Sources/load.gif" style="display: none; width: 27px" alt="<Load>" data-bind="visible: isSending" />
            </div>
        </div>
    </div>
</form>

<script>
    VK.init({ apiId: 5186294 });

    ko.applyBindings(data);
    setMode("Email");

    setValidators();
</script>