<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataContext" connectionString="User ID=teinlevi;Password=11111111;Host=localhost;Port=5432;Database=GreatOlympicTries;Pooling=true;" providerName="Npgsql" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.4.1" newVersion="3.2.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>