@{
    ViewBag.Title = "Contest Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id='root'>
</div>

@section scripts {
    <script src="~/bundle/vendor.js"></script>
    <script type="text/javascript">
        self._babelPolyfill = false; //HACK: see http://stackoverflow.com/a/36672020/1434764
    </script>
    <script src="~/bundle/main.js"></script>
}